@{
    ViewData["Title"] = "DesignationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

<table id="myTable" class="table display table-responsive table-sm">
    <thead>
        <tr>
            <th>Designation ID</th>
            <th>Title</th>
            <th>Creation Date</th>
            <th>Modification Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="sample_2">
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["DesignationID"]</td>
                <td>@dr["Title"]</td>
                <td>@Convert.ToDateTime(dr["CreationDate"]).ToShortDateString()</td>
                <td>@Convert.ToDateTime(dr["ModificationDate"]).ToShortDateString()</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="DesignationID" value="@Convert.ToInt32(dr["DesignationID"])" />
                        <button class="btn btn-danger" type="submit" asp-controller="Designation" asp-action="Delete">Delete</button>
                        <button class="btn btn-success" type="submit" asp-controller="Designation" asp-action="Edit">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
